<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jia.one">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ace.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ace.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ace.activity.MarketActivity"></activity>
        <activity android:name="com.ace.activity.MarketBuyDtails"></activity>
        <activity android:name="com.ace.activity.MarketSellDtails"></activity>
        <activity android:name="com.ace.activity.Information_about"/>
        <activity android:name="com.ace.activity.Information_notice"/>
        <activity android:name="com.ace.activity.Information_setting"/>
        <activity android:name="com.ace.activity.Information_volunteers"/>
        <activity android:name="afor.com.two.RepairActivity"/>
    </application>

</manifest>